
body{
    
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/Background-moon.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
}
#section{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
#header{
    color: white;
    font-size: xx-large;
}
#playground{
    background-image: url(../images/newSky.jpeg);
   
    overflow: hidden;
    background-size: 100% 100%;
    width: 70vw;
    height: 80vh;
    position: relative;
    animation: newSky 75s linear infinite;
}
@keyframes newSky{
    0%{background-position: 0 0;}
    100%{background-position: 0 2000px;}
}

#playground img{
    max-width: 100%;
    max-height: 100%;
}
#player{
    background-image: url(../images/yet.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    height: 10vh;
    width: 5vw;
    position: absolute;
    left: 34vw;
    bottom: 0vh;
    padding: 0;
}

.obstacles{
    position: absolute;
    bottom: 70vh;
    padding: 0;
}

#obstOne{
    position: absolute;
    bottom: 70vh;
    background-image: url(../images/ufo.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#obstTwo{
    position: absolute;
    bottom: 70vh;
    background-image: url(../images/spy-baloon.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#obstThree{
    position: absolute;
    bottom: 70vh;
    background-image: url(../images/ufo-two.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.bullet{
    position: absolute;
    background-image: url(../images/bullet.png);
    background-size: cover;
    background-repeat: no-repeat;

}
.side-box{
    background-image: url(../images/Nasa-stars.jpeg);
    width: 10vw;
    height: 80vh;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.side-box img{
    height: 40px;
}
.side-box p{
    text-align: center;
    font-size: 22px;
    color: aliceblue;
}
.side-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#game-over{
    width: 90vw;
    height: 80vh;
    background-color: black;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/Game-over.jpeg);
    visibility: hidden;
}
#game-over h1{
    font-size: 80px;
    color: rgb(70,171,56);
}
#game-over button{
    width: 30vw;
    height: 5vh;
    background-color: rgb(70,171,56);
    border-radius: 10px;
}
#game-over article{
    background-image: url(../images/Nasa-stars.jpeg);
    text-align: center;
    background-color: aliceblue;
    width: 30vw;
    height: 15vh;
    margin-top: 3vh;
    color: white;
}
#game-over img{
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#game-over p{
    border: 0;
    width: 1vw;
}
.obstDiv{
    padding: 0;
    border: 0;
}
.health{
    background-color: red;
    width: 2vw;
    height: 2vh;
    border: 0.1px solid black;
}
#heartpic{
    
    height: 30px;
    width: 80px;
}
.health-div{
    align-items: center;
}
.mess{
    display: flex;
    flex-direction: row;
    
}
#last-Div{
    
    display: flex;
    justify-content: space-around;
}
.side-box-two{
    color: yellow;
    text-align: center;
}
